




#msg2 {
  display: none;
  color: red;
}

#msg3 {
  display: none;
  color: red;
}


.hidden {
  position: absolute;
  width: 10%;
  height: 10%;
  top: 20%; 
  right: 10%; 
  
}

.car-container {
  max-width: 35%;
  margin: 1%;
  text-align: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  top: 2%;
  border-radius: 5px;
  border: 2px solid orange;
  box-shadow: 0 0 10px black;
  background-color: rgb(211, 210, 208);
}



#reserveButton {
  position: absolute;
  width: 10%;
  height: 10%;
  bottom: 10%; 
  right: 10%; 
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  color: white;
  border: 3px solid black;
  letter-spacing: 0.5px;
  font-weight: 700;
  background: black;
  border-radius: 6px;
  align-items: center;
}

#reserveButton:hover {
    background-color: white;
    color: black;
}





#nlogout {
    margin-left: 5%;
    background: black;
    border: 3px solid black;
    border: none;
    cursor: pointer;
    color: white;
    border-radius: 6px;
    margin-right: 10px;
}

#nlogout:hover {
  background-color: orange;
    color: black;
}

.container {
  margin: 10px !important;
  
}

.quote {
  font-size: x-large;
  font-style: oblique;
  color: orange;
}

.contactUs {
  color: black;
  text-decoration: none;
  font-size: x-large;
}

.contactUs:hover {
  color: orange;
}

.navbar-brand {
  color: black;
  transition: transform 0.3s ease-in-out;
}

.navbar-brand:hover {
    color: black;
    transform: scale(1.05);
}