body {
    background-size: cover;
    background-image: url("https://robbreport.com/wp-content/uploads/2022/03/2-4.jpg?w=1000");
    overflow-x:hidden;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.card img {
  width: 100px;
  height: auto;
  margin: 0 auto;
  margin-top: 10%;
}

.card {
  text-align: center;
  margin: 5%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  transition: transform 0.3s ease-in-out;
  opacity: 0.5
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(250, 143, 2, 0.89);
    opacity: 1;
    cursor: pointer;
}

#homeStart {
    display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px 40px;
  letter-spacing: 0.5px;
  font-weight: 700;
  font-size: 200%;
  color: black;
}

#nlogout {
    margin-left: 5%;
    background: black;
    border: 3px solid black;
    border: none;
    cursor: pointer;
    color: white;
    border-radius: 6px;
    margin-right: 10px;
}

#nlogout:hover {
  background-color: orange;
    color: black;
}

.container {
  margin: 10px !important;
  
}

.quote {
  font-size: x-large;
  font-style: oblique;
  color: orange;
}

.contactUs {
  color: black;
  text-decoration: none;
  font-size: x-large;
}

.contactUs:hover {
  color: orange;
}

.navbar-brand {
  color: black;
  transition: transform 0.3s ease-in-out;
}

.navbar-brand:hover {
    color: black;
    transform: scale(1.05);
}